<div class="footer">
    <div class="container96">
        <div class="col-3 col-s-12 col">
            <h4 class="footer_head">About Shop</h4>
            <p    style="color: rgba(0,0,0,0.7);">
                Where the best become better !
            </p>
            <p>
                <img class="radius-50" src="/static/icon/fb.png" width="30px" height="30px">
                <img class="radius-50" src="/static/icon/twister.png" width="30px" height="30px">
                <img class="radius-50" src="/static/icon/youtbe.png" width="30px" height="30px">
                <img class="radius-50" src="/static/icon/instagram.png" width="30px" height="30px">
            </p>


        </div>
        <div class="col-3 col-s-12 col" id="infor">
            <h4 class="footer_head">Information</h4>
            <ul>
                <li>
                    About us
                </li>
                <li>
                    Delivery Information
                </li>
                <li>
                    Order Tracking
                </li>
                <li>
                    Privacy Policy
                </li>
            </ul>

        </div>
        <div class="col-3 col-s-12 col">
            <h4 class="footer_head"> News</h4>
            <ul>
                <li> Blog</li>
                <li>
                    Press
                </li>
                <li>
                    Exhibitions
                </li>
            </ul>

        </div>
        <div class="col-3 col-s-12 col" id="contact">
            <h4 class="footer_head">Contact Information</h4>
            <ul>
                <li>1235 South 98th THĐ Street HaNoi VietNam </li>
                <li>+1234 567 890</li>
                <li>success@gmail.com</li>
                <li>success.com</li>
            </ul>
        </div>

        <div class="copy">
            <div class="text-center">
                <p>
                    Copyright © 
                    <script>document.write(new Date().getFullYear());</script>
                    All right reserved
                </p>

            </div>
        </div>
    </div>
</div>
<div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="ion-ios-arrow-up"></i></a>
</div>