<!-- <html>
    <head></head>
    <body>
        <div class="add-recipe">
            <div class="page-header">
              <h2>New Password:</h2>
            </div>
            <form action="{{ url_for('reset_with_token', token=token) }}" method="POST">
              <input type="password" name="password">
              <input type="submit" value="Change my password" />
          </form>
          </div>
    </body>
</html> -->



<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../static/user/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>

	<!--
		CSS
		============================================= -->
	<link rel="stylesheet" href="../static/user/css/linearicons.css">
	<link rel="stylesheet" href="../static/user/css/owl.carousel.css">
	<link rel="stylesheet" href="../static/user/css/themify-icons.css">
	<link rel="stylesheet" href="../static/user/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/user/css/nice-select.css">
	<link rel="stylesheet" href="../static/user/css/nouislider.min.css">
	<link rel="stylesheet" href="../static/user/css/bootstrap.css">
	<link rel="stylesheet" href="../static/user/css/main.css">
	<link rel="stylesheet" href="../static/user/css/app.css">
</head>

<body>

	{% include 'header.html' %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Reset Password</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Reset Password</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="../static/user/img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<!-- <div class="primary-btn" id="login_register" onclick="show_hide()">Create an Account</div> -->
						</div>
					</div>
				</div>
				<div class="col-lg-6" id="login_form" style="display: block;">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" action="{{ url_for('reset_with_token', token=token) }}" method="POST"  novalidate="novalidate">
							<!-- <div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="email" value="{{request.form.email}}" placeholder="Email"  onfocus="this.placeholder = ''" onblur="this.placeholder = '1235@gmail.com'">
              </div> -->
              <div class="col-md-12 form-group">
								<label>Enter password reset for {{email}}</label>
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="password" value="{{request.form.password}}" placeholder="Password" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Password'">
							</div>
							{% if error %}
							<div class="col-md-12 form-group" style="    padding: 10px;
							color: red;
							text-shadow: 0px 1px 0px #fff;">{{error}}</div>
							{% endif %}
							<div class="col-md-12 form-group">
								<div class="creat_account">
									<!-- <input type="checkbox" id="f-option2" name="admin_check" value="1"> -->
									<!-- <label for="f-option2">Login as Admin</label> -->
								</div>
							</div>
							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Reset</button>
								<!-- <a href="#" onclick="display('forgot_pass')">Forgot Password?</a> -->
							</div>
						</form>
					</div>
				</div>
				
				<!-- Register -->



				
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<!-- start footer Area -->
	{% include 'footer.html' %}
	<!-- End footer Area -->

	
	

	<script src="../static/user/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="../static/user/js/vendor/bootstrap.min.js"></script>
	<script src="../static/user/js/jquery.ajaxchimp.min.js"></script>
	<script src="../static/user/js/jquery.nice-select.min.js"></script>
	<script src="../static/user/js/jquery.sticky.js"></script>
	<script src="../static/user/js/nouislider.min.js"></script>
	<script src="../static/user/js/countdown.js"></script>
	<script src="../static/user/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/user/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="../static/user/js/gmaps.min.js"></script>
	<script src="../static/user/js/main.js"></script>
	<script src="../static/user/js/user.js"></script>

</body>

</html>