<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>


	<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
	<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
	<meta charset=utf-8 />
	<script src="/static/user/js/jquery-3.4.1.min.js"></script>

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../static/user/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>

	<!--
            CSS
            ============================================= -->
	<link rel="stylesheet" href="../static/user/css/linearicons.css">
	<link rel="stylesheet" href="../static/user/css/owl.carousel.css">
	<link rel="stylesheet" href="../static/user/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/user/css/themify-icons.css">
	<link rel="stylesheet" href="../static/user/css/nice-select.css">
	<link rel="stylesheet" href="../static/user/css/nouislider.min.css">
	<link rel="stylesheet" href="../static/user/css/bootstrap.css">
	<link rel="stylesheet" href="../static/user/css/main.css">

	<link rel="stylesheet" href="../static/user/css/app.css">
</head>

<body>

    {% include 'header.html' %}

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Shopping Cart</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <form action="/user_cart/checkout" method="POST">
                    <!-- <form action="" method="POST">  -->
                <div class="table-responsive">
                    {% if not cart_detail  %}
                    <h3>You haven't product in cart !</h3>
                    {% endif %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Quantity</th>
                                <th scope="col">Total</th>
                                <th scope="col">#</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart_detail %}
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="../static/image/shoes_image/{{item['image']}}" width="120px" height="120px" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>{{item['shoes_name']}}</p>
                                            <p>Color: {{item['color']}}</p>
                                            <p>Size: {{item['size']}}</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>{{item['price']*(1-item['sale']/100)}}<ins>đ</ins></h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <!-- <input type="text" name="qty" id="sst" maxlength="12" value="{{item['quantity']}}" disabled
                                            class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                            class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button> -->
                                        <select class="shoe_quantity nice-select" id="id_cart_detail_{{item['id_cart_detail']}}">
                                            {% for i in range(1,11) %}
                                            <option value="{{i}}" {% if i == item['quantity'] %} selected {% endif %}>{{i}}</option>
                                            {% endfor %}
                                        </select>


                                    </div>
                                </td>
                                <td id="factor_price_{{item['id_cart_detail']}}">
                                    <h5>{{item['price']*(1-item['sale']/100)*item['quantity']}}<ins>đ</ins></h5>
                                </td>
                                <td >
                                    <a href="/user_cart/delete/{{item['id_cart_detail']}}" class="">
                                        Remove
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                            <!-- <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="img/cart.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>Minimalistic shop for multipurpose use</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$360.00</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                            class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                            class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <h5>$720.00</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="media">
                                        <div class="d-flex">
                                            <img src="img/cart.jpg" alt="">
                                        </div>
                                        <div class="media-body">
                                            <p>Minimalistic shop for multipurpose use</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <h5>$360.00</h5>
                                </td>
                                <td>
                                    <div class="product_count">
                                        <input type="text" name="qty" id="sst" maxlength="12" value="1" title="Quantity:"
                                            class="input-text qty">
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst )) result.value++;return false;"
                                            class="increase items-count" type="button"><i class="lnr lnr-chevron-up"></i></button>
                                        <button onclick="var result = document.getElementById('sst'); var sst = result.value; if( !isNaN( sst ) &amp;&amp; sst > 0 ) result.value--;return false;"
                                            class="reduced items-count" type="button"><i class="lnr lnr-chevron-down"></i></button>
                                    </div>
                                </td>
                                <td>
                                    <h5>$720.00</h5>
                                </td>
                            </tr>
                            <tr class="bottom_button">
                                <td>
                                    <a class="gray_btn" href="#">Update Cart</a>
                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>
                                    <div class="cupon_text d-flex align-items-center">
                                        <input type="text" placeholder="Coupon Code">
                                        <a class="primary-btn" href="#">Apply</a>
                                        <a class="gray_btn" href="#">Close Coupon</a>
                                    </div>
                                </td>
                            </tr> -->
                            <tr id="total_price">
                                <td>

                                </td>
                                <td>

                                </td>
                                
                                <td>
                                    <h5>Subtotal</h5>
                                </td>
                                {% if cart_detail %}
                                <td>
                                    <h5>{{cart_detail[0]['cart_total_price']}}<ins>đ</ins></h5>
                                </td>
                                {% else%}
                                <td>
                                    <h5>0<ins>đ</ins></h5>
                                </td>
                                {% endif %}
                                <td></td>
                                
                            </tr>
                            <tr class="shipping_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td></td>
                                <td>
                                    
                                </td>
                                <td>
                                    <div class="shipping_box" style="width:unset;">
                                        <ul class="list">
                                            <!-- <li><a href="#">Flat Rate: $5.00</a></li> -->
                                            <li class="active"><a  href="#">Free Shipping</a></li>
                                            <!-- <li><a href="#">Flat Rate: $10.00</a></li>
                                            <li class="active"><a href="#">Local Delivery: $2.00</a></li> -->
                                        </ul>
                                        <h6>Calculate Shipping <i class="fa fa-caret-down" aria-hidden="true"></i></h6>
                                        <!-- <select class="shipping_select">
                                            <option value="1">Bangladesh</option>
                                            <option value="2">India</option>
                                            <option value="4">Pakistan</option>
                                        </select>
                                        <select class="shipping_select">
                                            <option value="1">Select a State</option>
                                            <option value="2">Select a State</option>
                                            <option value="4">Select a State</option>
                                        </select> -->
                                        <input type="text" placeholder="Name..." name="receiver" value="{{session['name']}}" required>
                                        <input type="text" placeholder="Address Shipping..." name="address_ship" value="{{session['address']}}" required>
                                        <input type="text" placeholder="Phone Number..." name="phone_number" pattern="[0]{1}[0-9]{9}" value="0{{session['phone_number']}}" required>
                                        <!-- <a class="gray_btn" href="#">Update Details</a> -->
                                    </div>
                                </td>
                            </tr>
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td></td>
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn" style="position:absolute;right:50%;" href="/user_product">Continue Shopping</a>
                                        {% if cart_detail %}
                                        <button id="checkout_button" class="primary-btn" style="position:absolute;left:50%;" type="submit">Proceed to checkout</button>
                                        {% else %}
                                        <button id="checkout_button" class="primary-btn" style="position:absolute;left:50%;" type="submit" disabled>Proceed to checkout</button>
                                        {% endif %}
                                        <!-- <button style="position: absolute;right: 1%;">Ahihi</button> -->
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                </form>

                
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->
    <!-- Start related-product Area -->
	<section class="related-product-area section_gap_bottom">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>You also like !</h1>
						<p>Product suggstion for you</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					
					<div class="dp_flex">
					{% for rcm in recommended['recomms'] %}
					<div class="col-lg-4 col-md-4 col-sm-6">
						<div class="click_detail" id="{{rcm['values']['id_shoes']}}"><a href="/user_productdetail/{{rcm['values']['id_shoes']}}"><img src="{{rcm['values']['image']}}" height="200px" width="200px"></a></div>
						<div>{{rcm['values']['shoes_name']}}</div>
						<div>{{rcm['values']['price']}}</div>
					</div>
					{% endfor %}
					</div>

					
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="../static/user/img/category/c5.jpg" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
    </section>
    
    <!-- start footer Area -->
    {% include 'footer.html' %}
    <!-- End footer Area -->
    <script type="text/javascript">
     $(document).ready(function() {
          $(".shoe_quantity").on("change", function(event){
            //   alert("1");
            var _this = this;
            var number= this.value;
            var temp= this.id;
            var id_cart_detail= temp.substr(15,temp.length)
            // alert(id_cart_detail);
            // alert(this.value);
            // var temp=_this.id;
            // var id_shoes= temp.substr(19,temp.length);
            // alert(id_shoes);
            $.ajax({
            data: {
            number : number,
            id_cart_detail : id_cart_detail
            },
              type:"POST",
              url : "/user_update/cart"
            })
            .done(function(data){
                var myObj = JSON.parse(data)
            $("#total_price").html(myObj.resp1);
            // $("#notification").show();
            $("#factor_price_"+id_cart_detail).html(myObj.resp2);
            });
          });


          $(".click_detail").click(function(){
			  var id;
			  var id_user="{{session['id']}}";
			  if (id_user=="") {
				  id="0";
			  }
			  else{
				id=id_user;
			  };
			  var id_shoes=this.id;
			//   id_shoes=id_shoes.substr(0,id_shoes.length-2);
			//   alert(id_shoes);
			$.ajax({
              data: {'id_user':id,
			  'id_shoes':id_shoes
			  },
              type:"POST",
              url : "/tracking"
            })
            .done(function(data){
            // $("#respond_ajax").html(data);
			console.log("Done");
            // $("#notification").show();
            });
		  });


        });
    
    </script>

    <!-- Snowplow starts plowing -->
	<script type="text/javascript">
		;(function(p,l,o,w,i,n,g){if(!p[i]){p.GlobalSnowplowNamespace=p.GlobalSnowplowNamespace||[];
		p.GlobalSnowplowNamespace.push(i);p[i]=function(){(p[i].q=p[i].q||[]).push(arguments)
		};p[i].q=p[i].q||[];n=l.createElement(o);g=l.getElementsByTagName(o)[0];n.async=1;
		n.src=w;g.parentNode.insertBefore(n,g)}}(window,document,"script","//d1fc8wv8zag5ca.cloudfront.net/2.10.2/sp.js","snowplow_trackpurchase"));

		var id_user="{{session['id']}}";
		if (id_user=="") {
					// alert("sao lai v");
				  id_user="0";
			  }
			  else{
				id_user=id_user;
			  };
		// alert(id_user);
		snowplow_trackpurchase("newTracker", "sp1", "localhost:5000/purchase", {
		appId: "12cfpro",
		platform: "web",
        encodeBase64: false,
		contexts: {
			webPage: true,
			performanceTiming: true,
            ttm :id_user
		}
		});
        var return_event_context = {
            schema: "iglu:com.bestbuy/return/jsonschema/1-0-0",
            data: {
                transaction_id: 'T6318372'
                ,transaction_value: 164.83
                ,item_condition: 'Excelent',
                id_user: id_user
            }
        };
		// var pageviewContext = [{
        //     schema: "iglu:com.snowplowanalytics.snowplow/payload_data/jsonschema/1-0-4",
        //     data: {
        //         sku: '8532502'
        //     ,brand: 'Apple'
        //     }
        // }];
        // snowplow_trackpurchase.track_unstruct_event({
        // "schema": "iglu:com.snowplowanalytics.snowplow/payload_data/jsonschema/1-0-4",
        // "data": {
        //     "connected_tstamp": "2015-03-21 17:23:10",
        //     "disconnected_tstamp": "2015-03-21 17:48:21",
        //     "reason_for_call": "Response to interest submitted via webform",
        //     "success": true,
        //     "order_id": "ab-1903-23904",
        //     "order_value": "129.44"
        // }
        // });
		
        buttons = document.querySelectorAll('button')

        buttons.forEach(function(elem) {
        elem.addEventListener("click", function() {
            // var rnd = Math.random().toString(36).substring(2);
            // alert(id_user);
            url = "123";
            other_properties = id_user;

            // snowplow_trackpurchase('trackLinkClick', url,other_properties);
        //     _snaq.push(['trackPageView',
        //       , // <- Skip the custom page title (get page title automatically instead)
        //       { page: {
        //           category: 'sport',
        //           last_updated$dt: new Date(2014,1,26)
        //         }
        //       }
        //    ]);
        
        // window.snowplow_trackpurchase('trackPageView', null , pageviewContext);
            // window.snowplow_trackpurchase('trackPageView', null, [
			
            // {
            //     schema: "iglu:com.snowplowanalytics.snowplow/payload_data/jsonschema/1-0-4",
            //     data: {
            //     userType: 'tester'
            //     }
            // }],
            // null,
            // {type: 'ttm', value: id_user});
            window.snowplow_trackpurchase('enableFormTracking',null,return_event_context);
        });
        });
		

	
	 </script>
	<!-- Snowplow stops plowing -->
	
	<script src="../static/user/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="../static/user/js/vendor/bootstrap.min.js"></script>
	<script src="../static/user/js/jquery.ajaxchimp.min.js"></script>
	<script src="../static/user/js/jquery.nice-select.min.js"></script>
	<script src="../static/user/js/jquery.sticky.js"></script>
	<script src="../static/user/js/nouislider.min.js"></script>
	<script src="../static/user/js/countdown.js"></script>
	<script src="../static/user/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/user/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="../static/user/js/gmaps.min.js"></script>
	<script src="../static/user/js/main.js"></script>
    
</body>

</html>