<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="../static/user/img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="CodePixar">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Karma Shop</title>
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="../static/user/css/linearicons.css">
	<link rel="stylesheet" href="../static/user/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/user/css/themify-icons.css">
	<link rel="stylesheet" href="../static/user/css/bootstrap.css">
	<link rel="stylesheet" href="../static/user/css/owl.carousel.css">
	<link rel="stylesheet" href="../static/user/css/nice-select.css">
	<link rel="stylesheet" href="../static/user/css/nouislider.min.css">
	<link rel="stylesheet" href="../static/user/css/ion.rangeSlider.css" />
	<link rel="stylesheet" href="../static/user/css/ion.rangeSlider.skinFlat.css" />
	<link rel="stylesheet" href="../static/user/css/main.css">



	<link rel="stylesheet" href="../static/user/css/app.css">
	<!-- <link rel="stylesheet" href="../static/user/css/style.css"> -->
	<script src="/static/user/js/jquery-3.4.1.min.js"></script>
</head>

<body>
	<script>
		function myFunction() {
			var x = document.getElementById("hidden_div");
			if (x.className === "col-lg-4 hidden_div") {
				x.className += " responsive_page";
			} else {
				x.className = "col-lg-4 hidden_div";
			}
			}
	</script>

	{% include 'header.html' %}

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Profile</h1>
					<nav class="d-flex align-items-center">
						<a href="/user_index">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Account<span class="lnr lnr-arrow-right"></span></a>
						<a href="single-product.html">Personal Infor</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
    <!-- End Banner Area -->
    <!--================Single Product Area =================-->

	<section class="blog_area single-post-area section_gap">
    <div class="container">
		<div class="row">
			<div class="position_absolute dp_none " >
				<a href="javascript:void(0);" class="icon1" onclick="myFunction()">
					<i class="fa fa-bars list_filter"></i>
				</a>
				
			</div>
			<div class="col-lg-4 " id="hidden_div">
				<div class="blog_right_sidebar">
					<!-- <aside class="single_sidebar_widget search_widget">
						<div class="input-group">
							<input type="text" class="form-control" placeholder="Search Posts" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Posts'">
							<span class="input-group-btn">
								<button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
							</span>
						</div>
						<div class="br"></div>
					</aside> -->
					<aside class="single_sidebar_widget author_widget">
						<img class="author_img rounded-circle" src="{{person[0]['cover_image']}}" width="100px" height="100px" alt="">
						<h4>{{session['name']}}</h4>
						<p>Member Account</p>
						<div class="social_icon">
							<a href="#"><i class="fa fa-facebook"></i></a>
							<a href="#"><i class="fa fa-twitter"></i></a>
							<a href="#"><i class="fa fa-github"></i></a>
							<a href="#"><i class="fa fa-behance"></i></a>
						</div>
						<!-- <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you
							should have to spend money on boot camp when you can get. Boot camps have itssuppor
							ters andits detractors.</p> -->
						<div class="br"></div>
					</aside>
					<aside class="single_sidebar_widget popular_post_widget">
						<h3 class="widget_title">Catalogy</h3>
						<div class="media post_item">
							<img src="../static/image/people/person.png" width="50px" height="50px"  alt="post">
							<div class="media-body active">
								<a href="/user_profile">
									<h3 >Personal Information</h3>
								</a>
								<!-- <p>02 Hours ago</p> -->
							</div>
						</div>
						<div class="media post_item">
							<img src="../static/image/people/order_history.png" width="50px" height="50px" alt="post">
							<div class="media-body">
								<a href="/user_history_order">
									<h3 style="color:red;">History Order</h3>
								</a>
								<!-- <p>02 Hours ago</p> -->
							</div>
						</div>
						<!-- <div class="media post_item">
							<img src="img/blog/popular-post/post3.jpg" alt="post">
							<div class="media-body">
								<a href="blog-details.html">
									<h3>Astronomy Or Astrology</h3>
								</a>
								<p>03 Hours ago</p>
							</div>
						</div>
						<div class="media post_item">
							<img src="img/blog/popular-post/post4.jpg" alt="post">
							<div class="media-body">
								<a href="blog-details.html">
									<h3>Asteroids telescope</h3>
								</a>
								<p>01 Hours ago</p>
							</div>
						</div> -->
						<div class="br"></div>
					</aside>
					
				</div>
			</div>
			<div class="col-lg-8 posts-list">
				<h2>History Order: </h2>
						<div class="br">
							<hr/>
						</div>
				<div style="    position: absolute;right: 10%;top: 0px;">
					<ul class="nav navbar-top-links navbar-right pull-right">
						<!-- <li>
							<a class="nav-toggler open-close waves-effect waves-light hidden-md hidden-lg"
								href="javascript:void(0)"><i class="fa fa-bars"></i></a>
						</li> -->
						<li>
							<form role="search" class="app-search m-r-10 position_relative">
								<input id="mysearch" type="text" placeholder="Search..." class="form-control" onkeyup="filter_table(this.id,'order_table')" style="border:1px solid;"> <a href=""><i
										class="fa fa-search" style="position: absolute;top: 11px;right: 11px;"></i></a> </form>
						</li>
						
					</ul>
				</div>
				<div class="col-lg-12">
					<div class="quotes">
						Member can select on title in order to sort history order by mutil option .
					</div>
				</div>
				{% if order_history %}
				<div class="table-responsive" >
					
					<table class="table" id="order_table">
						<thead class="cursor_pointer">
							<tr>
								<th onclick="sortTable(0)">Order Identify</th>
								<!-- <th>Name</th> -->
								<th onclick="sortTable(1)">Order Quantity</th>
								<th onclick="sortTable(2)">Price</th>
								<th onclick="sortTable(3)">Order Time</th>
								<th>#</th>
							</tr>
						</thead>
						<tbody>
							<tbody>
								{% for order in order_history %}
								
								<tr>
									<td>{{order['id_order']}}</td>
									<!-- <td>{{order['username']}}</td> -->
									<td>{{order['order_quantity']}}</td>
									<td>{{order['total_price']}}<ins>đ</ins></td>
									<td>{{order['time_order'].strftime("%Y,%b-%d %H:%M:%S")}}</td>
									<td id="{{order['id_order']}}" onclick="show_order(this.id)" class="cursor_pointer">Detail</td>
									
								</tr>
								
								{% endfor %}
							
						</tbody>
					</table>
				</div>


				<!-- ahahha -->
                            
				{% for order in order_history %}
				<div class="fix_1" id="order_{{order['id_order']}}" style="display:none;">
				 <div class="table-responsive body_fix_1"  style="width:500px">
					 <div id="{{order['id_order']}}" class="close" style="display: block;" onclick="hide_order(this.id)"></div>
					 <div class="white-box detail_order" style="margin:20px 0;">
					 <table class="table">
						 <thead>
							 <tr>
								 <th>Product</th>
								 <th>Information</th>
								 <th>Quantity</th>
								 <th>Price/product</th>
								 
							 </tr>
						 </thead>
						 <tbody>
						 {% for detail in order_detail %}
						 {% if detail['id_order']==order['id_order'] %}
							 <tr>
								 <td><img src="/static/image/shoes_image/{{detail['image']}}" width="75px" height="75px"></td>
								 <td>{{detail['shoes_name']}}
									 <p>Size: {{detail['order_size']}}</p></td>
								 <td>{{detail['order_detail_quantity']}}</td>
								 <td>{{detail['price_per_order']}}<ins>đ</ins></td>
								 
							 </tr>
						 {% endif %}
						 {% endfor %}
						 </tbody>
					 </table>

					 </div>
					 <div class="white-box">
						 <p><label>Time Order:</label></p>
						 <p>{{order['time_order'].strftime("%Y,%B-%d %H:%M:%S")}}</p>
					 </div>
					 
				 
				 
					 </div>
				 </div>
				{% endfor %}
				{% else %}

				<div class="col-lg-12">
					<div class="quotes">
						You haven't order yet !
					</div>
				</div>

				{% endif %}
				
				<!-- hahahah -->
			</div>

		</div>

	</div>
	</section>








    

    <!-- start footer Area -->
	{% include 'footer.html' %}
	<!-- End footer Area -->
	
	<script>
		$(document).on("click",".change_pw",function(e){
		   // $("#notification").show();
	   // var _this = this;
	   //     var temp=_this.id;
	   //     var id_comment= temp.substr(8,temp.length);
		   alert("Thưởng");
		   $.ajax({
			 data: {
			   'old_password':$("#old_password").val(),
			   'new_password':$("#new_password").val(),
			   'cf_new_password':$("#cf_new_password").val()
			   },
			 type:"POST",
			 url : "/profile/change_password"
		   })
		   .done(function(data){
			   // alert(data);
			   // alert("Done");
			   // alert("#comment_body_"+id_comment);
			   if(data!="Done"){
				   // $("#old_password").value("");
				$("#notify_ajax").html(data);
			   //  $("#old_password").html="";
			   }
			   else{
				   // alert("Xoan");
				   $("#old_password").val("");
				   $("#new_password").val("");
				   $("#cf_new_password").val("");
				   $("#id_password_change").hide();
				   $("#notification").show();
			   }
			
			});
	//your code
	});
   </script>
   <script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#blah')
                    .attr('src', e.target.result)
                    .width(150)
					.height(150);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
    $("#img").change(function() {
    readURL(this);
	});
	


	// ///////

	function filter_table(id_input,id_table) {
// alert("1");
	var input, filter, table,tr, td,  i, txtValue;
	input = document.getElementById(id_input);
	filter = input.value.toUpperCase();
	table = document.getElementById(id_table);
	// alert(id_table,id_input);
	tr = table.getElementsByTagName("tr");
	// td=tr.getElementsByTagName("td");
	// alert(table,tr);
	for (i = 0; i < tr.length; i++) {
		
			td=tr[i].getElementsByTagName("td")[0];
			if (td){
				txtValue = td.textContent || td.innerText;
				if (txtValue.toUpperCase().indexOf(filter) > -1) {
					tr[i].style.display = "";
				} else {
					tr[i].style.display = "none";
				}
			}
		}
	}
	
	

/////////////////////////////////////////////////

	function sortTable(n) {
        var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
        table = document.getElementById("order_table");
        switching = true;
        //Set the sorting direction to ascending:
        dir = "asc"; 
        /*Make a loop that will continue until
        no switching has been done:*/
        while (switching) {
            //start by saying: no switching is done:
            switching = false;
            rows = table.rows;
            /*Loop through all table rows (except the
            first, which contains table headers):*/
            for (i = 1; i < (rows.length - 1); i++) {
            //start by saying there should be no switching:
            shouldSwitch = false;
            /*Get the two elements you want to compare,
            one from current row and one from the next:*/
            x = rows[i].getElementsByTagName("TD")[n];
            y = rows[i + 1].getElementsByTagName("TD")[n];
            /*check if the two rows should switch place,
            based on the direction, asc or desc:*/
            if (dir == "asc") {
                if (parseInt(x.innerHTML.toLowerCase()) > parseInt(y.innerHTML.toLowerCase())) {
                //if so, mark as a switch and break the loop:
                shouldSwitch= true;
                break;
                }
            } else if (dir == "desc") {
                if (parseInt(x.innerHTML.toLowerCase()) < parseInt(y.innerHTML.toLowerCase())) {
                //if so, mark as a switch and break the loop:
                shouldSwitch = true;
                break;
                }
            }
            }
            if (shouldSwitch) {
            /*If a switch has been marked, make the switch
            and mark that a switch has been done:*/
            rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
            switching = true;
            //Each time a switch is done, increase this count by 1:
            switchcount ++;      
            } else {
            /*If no switching has been done AND the direction is "asc",
            set the direction to "desc" and run the while loop again.*/
            if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
            }
            }
        }
        }
	
</script>
	<script src="../static/user/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
	 crossorigin="anonymous"></script>
	<script src="../static/user/js/vendor/bootstrap.min.js"></script>
	<script src="../static/user/js/jquery.ajaxchimp.min.js"></script>
	<script src="../static/user/js/jquery.nice-select.min.js"></script>
	<script src="../static/user/js/jquery.sticky.js"></script>
	<script src="../static/user/js/nouislider.min.js"></script>
	<script src="../static/user/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/user/js/owl.carousel.min.js"></script>
	<!--gmaps Js-->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCjCGmQ0Uq4exrzdcL6rvxywDDOvfAu6eE"></script>
	<script src="../static/user/js/gmaps.min.js"></script>
	<script src="../static/user/js/main.js"></script>
	<script src="../static/user/js/user.js"></script>
	<!-- <script language="JavaScript" type="text/javascript" src="../static/user/js/jquery-3.4.1.min.js"></script> -->
</body>

</html>